h2 {
    font-size: 40px;
  }
body {
  margin: 0px;
  padding: 0px;
}
h2 {
  text-align: center;
}
p{
  margin-left: 10px;
  margin-right: 5px;
}
li {
  text-align: left;
  font-size: large;
  margin-right: 10px;
}
.header {
  font-size: xx-large;
}

@media (max-width: 620px) {
  h2 {
    font-size: 25px;
  }
  .header {
  font-size: x-large;
}
li {
  font-size: small;
}
}