#heading {
  color: blue;
}
body {
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: bisque;
  }
  figure {
    text-align: center;
    color: brown;
  }
  img {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    object-fit: cover;
  }
  h1 {
    color: brown;
    text-shadow: 0.1em 0.07em 0.04em bisque;
    font-size: 50PX;
    text-align: center;
    margin: auto;
  }
  li {
    margin: 5px;
  }
  .popular{
    border: 4px dotted red;
  }
  .div1 {
    margin: auto;
    background-color: burlywood;
    width: 50%;
    height: auto;    
    padding: 30px;
    border: 3px solid brown;
}